<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= background_photo(alex_cocktail) %>');">
    <div class="card-description">
      <h2><%= alex_cocktail.name %></h2>
    </div>
    <%= link_to 'Show', alex_cocktail, { :class=>"card-link" } %>
  </div>
</div>

<!-- check how to do with inject -->
